<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Review Analyzer</title>
    <link rel='stylesheet' href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class = 'container'>
        <h1>Food Review Analyzer</h1>
        <p> Enter a review and we'll analyze its sentiment.</p>
        
        <form action="/predict" method="POST">
            <label for="review">Your Review:</label>

            <textarea 
                name="review" 
                id="review"
                placeholder = "Write your food review here...."
            ></textarea>

            <button type="submit">
                Analyze Review
            </button>

        </form>

        {% if result %}
            <div class="result {{result_class}}">
                {% if result_class == "positive" %}
                   ✔ Positive Review
                {% else %}
                   ✘ Negative Review
                {% endif %}

                <p>
                    Decision Score :
                    {{ "%.2f"|format(decision_score)}}
                </p>

            </div>
        {% endif %}

    </div>
    
</body>
</html>
